{% extends 'main_page.html'%}
{% load static %}


{% block content%}
{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-6 font-weight-bold  p-5" style="color:white;" > Welcome! </h2>
        <div class="row d-flex justify-content-center text-center">

        </div>
        <hr style="color:#ff5722;">
  </div>
</header>
{% endblock %}
<br>
<br>
<div class="container" >

    <form  method="POST">
        {%csrf_token %}
        {% for c in questions %}
        <div class="radiolist">
            <label class="font-weight-bold" >{{ forloop.counter }} :{{c.question}}</label>
        </div>
        <div>
            <input type="radio" name={{c.id}} id={{c.id}}_1 value={{c.option1}}/><label for={{c.id}})>{{c.option1}}</label><br/>
        </div>
        <div>
            <input type="radio" name={{c.id}} id={{c.id}}_2 value={{c.option2}}/><label for={{c.id}}>{{c.option2}}</label><br/>
        </div>
        <div>
            <input type="radio" name={{c.id}} id={{c.id}}_3 value={{c.option3}}/><label for={{c.id}}>{{c.option3}}</label><br/>
        </div>
        <hr style="color:#000080;">

        {% endfor %}
        <input type="submit" class="btn btn-primary">
    </form>
<!--    <a href="{% url 'syllabus:level_list'%}" class="btn btn-primary" style="background-color:#00bcd4;">Submit</a>-->
</div>
<br>
<br>
{% endblock%}