{% extends 'main_page.html'%}
{% load static %}


{% block content%}
{% block image_block %}
<header >
  <div id="img-page" class="container-fluid d-flex align-items-center justify-content-center ">
    <div >
      <div >
        <h2 class="display-6 font-weight-bold  p-5" style="color:white;" > Welcome! </h2>
        <div class="row d-flex justify-content-center text-center">

        </div>
        <hr style="color:#ff5722;">
  </div>
</header>
{% endblock %}
<br>

<br>

<section id="best-features" class="text-center">
                <h2 class=" text-font" style="color:black;font-size: 20px"  >5 mixed maths questions to assess your level</h2>

  <hr>
  <br>
    {% for quiz in obj %}
              <div class="row d-flex justify-content-center mb-4">
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem; background-color:#484848;"  >
                          <div class="card-body text-center">
                               <!-- Button trigger modal -->
                              <button style="color:white;" type="button" class="btn btn-link modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal{{quiz.id}}">
                                {{quiz.quiz_name}}
                              </button>
                            </div>
                        </div>
                      </div>

              </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{quiz.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 35px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class=" mb-3 text-center text-font"> Are you ready to start the "<b> {{quiz.quiz_name}} quiz</b>" ? </div>
      </div>
      <div class="modal-body">
    <div class="text-muted">
    <ul class="list-group">
            <li class="list-group-item text-font">Difficulty: <b>{{quiz.difficulty_status}}</b></li>
            <li class="list-group-item text-font">Number of questions: <b>{{quiz.questions_number}}</b></li>
            <li class="list-group-item text-font">Score to pass: <b>{{quiz.pass_score}} %</b></li>
            <li class="list-group-item text-font">The time: <b>{{quiz.quiz_time}} minute</b></li>
    </ul>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="color: white" class="btn btn-danger text-font" data-bs-dismiss="modal">No</button>
        <a href="{% url 'quiz:quiz-view' pk=quiz.id %}"> <button type="button" id="start-button" style="color: white" class="btn btn-success text-font">Yes</button></a>
      </div>
    </div>
  </div>
</div>

{% endfor %}


</section>


{% endblock%}