{% extends 'main_page.html'%}
{% load static%}
<!--{% block scripts%}-->
<!--&lt;!&ndash;<script src="{% static 'quizes/main.js' %}" defer> </script>&ndash;&gt;-->
<!--{% endblock scripts%}-->


{% block content%}

<section id="best-features" class="text-center">
                <h2 class="mb-5 mt-5 font-weight-bold text-font" >Available quizzes</h2>

  <hr>
  <br>
    {% for quiz in obj %}
              <div class="row d-flex justify-content-center mb-4">
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem; background-color:#484848;"  >
                          <div class="card-body text-center">
                               <!-- Button trigger modal -->
                              <button style="color:white;" type="button" class="btn btn-link modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal{{quiz.id}}">
                                {{quiz.name}}
                              </button>
                            </div>
                        </div>
                      </div>

              </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{quiz.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class=" mb-3 text-center text-font"> Are you ready to start the "<b> {{quiz.name}} quiz</b>" ? </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    <div class="text-muted">
    <ul class="list-group">
            <li class="list-group-item text-font">Difficulty: <b>{{quiz.difficulty}}</b></li>
            <li class="list-group-item text-font">Number of questions: <b>{{quiz.number_of_questions}}</b></li>
            <li class="list-group-item text-font">Score to pass: <b>{{quiz.required_score_to_pass}} %</b></li>
            <li class="list-group-item text-font">The time: <b>{{quiz.time}} minute</b></li>
    </ul>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="color: white" class="btn btn-danger text-font" data-bs-dismiss="modal">No</button>
        <a href="{% url 'quizes:quiz-view' pk=quiz.id %}"> <button type="button" id="start-button" style="color: white" class="btn btn-success text-font">Yes</button></a>
      </div>
    </div>
  </div>
</div>

{% endfor %}

    <a href=""> <button type="button" id="start-button" style="color: white" class="btn btn-success text-font">Go back</button></a>


</section>


<script type="text/javascript" src="/static/quizes/main.js"></script>

{% endblock%}