{% extends 'main_page.html'%}
{% load static%}

{% block content%}
<br>

 <table class="table table-bordered  table-hover" style="background-color: #F0F0F0">
  <thead>
    <tr>
      <th scope="col" class="text-font">Quiz name</th>
      <th scope="col" class="text-font">Score to pass</th>
      <th scope="col" class="text-font">Previous score</th>
    </tr>
  </thead>
  <tbody>
    <tr style="background-color: #F8F8F8">
      <td>{{obj.name}}</td>
      <td>{{obj.required_score_to_pass}} %</td>
      <td>{{result}} %</td>
    </tr>
    <tr>
  </tbody>
</table>

<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token%}
    <div id="q-tag"></div>
    <button type="submit" class="btn btn-primary mt-3"> save</button>

</form>
<div id="s-tag" class="mb-2 font-italic">

</div>
<br>
<div  id="r-tag" class="text-font font-weight-bold" >
</div>
 <a style="margin-bottom: 80px; color: white" href="{% url 'quizes:main-view' fk=obj.lecture_na_id%}" class="btn btn-dark text-font"> Go back</a>

<script type=text/javascript>
var data_url = "{% url 'quizes:quiz-data-view' pk=obj.pk %}" </script>

<script type=text/javascript>
var result_url = "{% url 'quizes:save-view' pk=obj.pk %}" </script>
<script type="text/javascript" src="/static/quizes/quiz.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock%}