

{% extends 'main_page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% block image_block %}
<header >
  <div id="img-page" class="container-fluid d-flex align-items-center justify-content-center ">
    <div >
      <div >
        <h2 class="display-6 font-weight-bold  p-5" style="color:white;" > Welcome! </h2>
        <div class="row d-flex justify-content-center text-center">
             <ul class="breadcrumb">
            <li><a class="text-font"  href="{% url 'home_page' %}">Home/</a></li>
            <li><a class="text-font" href="{% url 'syllabus:level_list'  %}">Syllabus/</a></li>
            <li><a class="text-font"  href="{% url 'syllabus:subname_list' slug=lectures.level.slug %}">{{lectures.level.name}}/</a></li>
            <li><a class="text-font"  href="{% url 'syllabus:lecture_list' level=lectures.level.slug slug=lectures.subname.slug %}">{{lectures.subname.name}}/</a></li>
            <li class="text-font" style="color:red;"  class="disabled-text" >{{lectures.name}}</li>
          </ul>
        </div>
        <hr style="color:#ff5722;">
        </div>
       </div>
    </div>
</header>
{% endblock %}
<br>
<section class="text-center">
    <div class="row d-flex justify-content-center mb-3">

    </div>
    <!-- countdown timer -->

    {% if time_goals.start_time %}
    <p class="grey-text text-font font-weight-bold" >Learning goal timer</p>

    <table class="table table-bordered table-secondary  table-hover">
  <thead>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Time left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{time_goals.start_time}}</td>
      <td>{{time_goals.end_time}}</td>
      <td>{{time_goals.end_time|timeuntil}}</td>
    </tr>
    <tr>
  </tbody>
</table>
<br>

<!--    <p class="text-font">Start Time: <span style="color: #993300">{{time_goals.start_time}}</span></p>-->
<!--    <p class="text-font">End Time: <span style="color: #993300">{{time_goals.end_time}} </span></p>-->
<!--      <p class="text-font">Count down timer: <span style="color: #993300">{{time_goals.end_time|timeuntil}}</span></p>-->
    {% else %}
    <p class="text-font">You can go back anytime and set your learning goal for the lecture</p>
    {% endif%}
    <!-- countdown timer -->


    <p class="grey-text text-font">Progress bar</p>



    <p class="grey-text text-font" >Lecture is created by {{lectures.user_created_lecture}} on {{lectures.time_created}}</p>


    <div class="row d-flex justify-content-center mb-3">
      <div id="player-overlay">
         <iframe width="420" height="315"
               src="https://www.youtube.com/embed/tgbNymZ7vqY">
               </iframe>  
      </div>
    </div>
    <hr class="my-5" style="color:#000080;">
  <p  class="font-weight-bold text-font" >This will take take you to a different page where you can take different quizzes to practice your maths knowledge</p>
   <br>
    <a href="{% url 'quizes:main-view' fk=lectures.id%}"><button type="button" class="btn btn-success btn-lg btn-bloc text-font" style="color: white">Take the quizzes</button> </a>
    <hr class="my-5" style="color:#000080;">
    <div class="container" >
    <div class="row justify-content-center ">
                <div class="col-md-4 mb-4 mt-4">
                  <div  style="background-color:#484848;">
                    <div class="card-body">
                      <h5 class="card-title text-font" style="color:white;">Download Presentations</h5>
                      {% if lectures.lecture_presentations %}
                      <p class="card-text text-font" style="color:white;">Click to download</p>
                      <a href="{{lectures.lecture_presentations.url}}" download>
                      <button type="button" class="button-les text-font" style="color:white;"><span>Get Presentation</span></button>
                      </a>
                      {% else %}
                      <p class="card-text text-font" style="color:white;"> No Presentation available</p>
                      {% endif %}

                    </div>
                  </div>
                </div>

        <div class="col-md-4 mb-4 mt-4">
                  <div  style="background-color:#484848;">
                    <div class="card-body">
                      <h5 class="card-title text-font" style="color:white;">Download Video</h5>
                      {% if lectures.lecture_video %}
                       <p class="card-text text-font" >Click to download</p>
                      <a href="{{lectures.lecture_video.url}}" download>
                      <button type="button" class="button-les text-font" style="color:white;"><span>Get Video</span></button>
                      </a>
                      {%else%}
                      <p class="card-text text-font" style="color:white;">Video not available</p>
                      {%endif%}
                    </div>
                  </div>
                </div>

    </div>

        <div class="d-grid gap-2 d-md-block">
            {% if user.app_user.app_user == 'instructor' or user.is_superuser %}
              <button class="btn btn-primary" type="button"><a href="{% url 'syllabus:lecture_update' level=lectures.level.slug subname=lectures.subname.slug slug=lectures.slug %}" class="btn btn-primary btn-lg mr-4 btn-block text-font" style="color: white">Update Lesson</a>
                        </button>
              <button class="btn btn-danger" type="button"><a href="{% url 'syllabus:lecture_delete' level=lectures.level.slug subname=lectures.subname.slug slug=lectures.slug %}" class="btn btn-danger btn-lg mr-4 btn-block text-font" style="color: white"> Delete Lesson </a>
                         </button>
               {% endif %}
        </div>

    </div>
   </section>

<hr class="my-5" style="color:#000080;">
<section >
    <h4 class="mt-2 font-weight-bold text-font" style="color:#000080;">Add your question:</h4>
    <br>
    <div class="container row">
      <div class="col-md-6">
          <form method="post">
               <div class="form-group">
                     {% csrf_token %}
                      {{form|crispy}}
                      <input type="submit" name="form" value="Submit question" class="btn btn-primary btn-sm" style="margin-bottom: 50px">
                </div>
         </form>

      </div>
    </div>
    <div class="row">
      {% for question in lectures.questions.all %}
      <div class="col-md-8 mt-2 mb-2">
                      <div class="media border p-3">
                          <img src="" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                          <div class="media-body">
                                    <h4>{{question.sender}} <small><i>Posted a question on {{question.question_date}}</i></small></h4>
                                    <p>{{question.question_body}}</p>
                             {% for answer in question.answers.all %}
                                        <div class="media p-3">
                                                <img src="" alt="" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                                        <div class="media-body">
                                                  <h5>{{answer.sender}} <small><i>Replied on {{answer.answer_date}}</i></small></h5>
                                                  <p>{{answer.answer_body}}</p>
                                          </div>
                                        </div>
                            {% endfor %}

                          <form method="post">
                              <input type="hidden" name="question.id" value="{{question.id}}">
                              <input type="hidden" name="question.question_name" value="{{question.question_name}}">
                                 {% csrf_token %}
                                 {{form2.as_p}}
                              <input type="submit" name="form2" value="Answer" class="btn btn-success btn-sm" style="margin-bottom: 50px">
                           </form>
                          </div>
                  </div>
      </div>
      {% endfor %}
    </div>

</section>

{%endblock%}