


{% extends 'main_page.html'%}
{% load static %}
{% block title %} Level {% endblock %}


{% block content %}
<!-- section 1 for standards-->

<section id="best-features" class="text-center">
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#000080;">Learn Maths</h2>
              
             <div class="row d-flex justify-content-center mb-4">
               
                <div class="col-md-8">
                  <p class="grey-text">This website for teaching adults  national-4 maths</p>
                </div>
              </div> 
            
              <div class="row d-flex justify-content-center mb-4">
                      {% for level in levels %}
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem;">
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color:#000080;">{{level.name}}</h4>
                            <p class="card-text">{{level.description|truncatechars:75}}</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'syllabus:subname_list' slug=level.slug%}" class="btn btn-primary" style="background-color:#00bcd4;">Start</a>
                           {% else%}
                           <a href="{% url 'user_account_login'%}" class="btn btn-std" style="background-color:#00bcd4;">Login</a>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
              </div>
</section>

{%endblock%}