
{% extends 'main_page.html'%}
{% load static %}

{% block content %}

{% block image_block %}

  <div id="img-page"  class=" bg-cover ">
        <div class="container py-5 text-center">
            <h2 class="display-4 font-weight-bold " style="color:white; font-size: 20px">Welcome !</h2>

            <ul class="list-group list-group-horizontal justify-content-center ">
              <li class="list-group-item links-shadow-s" ><a  class="text-font" href="{% url 'home_page' %}">Home</a></li>
              <li class="list-group-item  links-shadow-s"><a class="text-font" href="{% url 'syllabus:level_list' %}"> Syllabus</a></li>
              <li class="list-group-item text-font links-shadow-s" style="color:red;" class="disabled-text">{{levels.name}}</li>
            </ul>

        </div>
   </div>

{% endblock %}

<div class="text-center">
              <h2 class="font-weight-bold text-font text-shade-a" style="font-size: 30px">Maths</h2>

             <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8 justify-content-center row d-flex">
                  <p class=" text-font under_l" >Check different maths lectures</p>
                </div>
              </div>
            
              <div class="row d-flex justify-content-center mb-4" >
                      {% for subname in levels.subnames.all %}
                        <div class="card text-center shade_b" style="width: 18rem;margin-bottom: 30px">
                          <div class="card-body ">
                            <h5 class="text-font  font-weight-bold sha" style="color:black;">{{subname.name}}</h5>
                            <p class="text-font" style="color:black;">{{subname.description}}</p>
                            <a href="{% url 'syllabus:lecture_list' slug=subname.slug level=levels.slug %}" class="btn btn-dark  text-font" style="color: white">Check Lectures</a>
                          </div>
                               <div class="text-font card-footer text-muted">
                            Updated recently
                          </div>
                      </div>
                      {% endfor %}
              </div>
</div>

{%endblock%}

