



{% extends 'main_page.html'%}
{% load static %}

{% block content %}


<section id="best-features" class="text-center">
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#000080;">Maths</h2>
              
             <div class="row d-flex justify-content-center mb-4">
               
                <div class="col-md-8">
                  <p class="grey-text">Check different maths lectures</p>
                </div>
              </div> 
            
              <div class="row d-flex justify-content-center mb-4">
                      {% for subname in levels.subnames.all %}
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center" style="width: 20rem;">
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color:#000080;">{{subname.name}}</h4>
                            <p class="card-text">{{subname.description|truncatechars:75}}</p>
                            <a href="{% url 'syllabus:lecture_list' slug=subname.slug level=levels.slug %}" class="btn btn-primary" style="background-color:#00bcd4;">Check Lectures</a>    
                          </div>
                        </div>
                      </div>
                      {% endfor %}
              </div>
</section>

{%endblock%}