



{% extends 'main_page.html'%}
{% load static %}

{% block content %}

{% block image_block %}
<header >
  <div id="img-page" class="container-fluid d-flex align-items-center justify-content-center ">
    <div >
      <div >
        <h2 class="display-6 font-weight-bold  p-5" style="color:white;" > Welcome! </h2>
        <div class="row d-flex justify-content-center text-center">
            <ul class="breadcrumb">
              <li><a  class="text-font" href="{% url 'home_page' %}">Home/</a></li>
              <li><a class="text-font"  href="{% url 'syllabus:level_list' %}">Syllabus/</a></li>
              <li class="text-font" style="color:red;" class="disabled-text" >{{levels.name}}</li>
            </ul>
        </div>
        <hr style="color:#ff5722;">
  </div>
</header>
{% endblock %}

<section class="text-center">
              <h2 class="mb-5 mt-5 font-weight-bold text-font text-shade-a" >Maths</h2>

             <div class="row d-flex justify-content-center mb-4">
               
                <div class="col-md-8">
                  <p class="font-weight-bold text-font under_l" >Check different maths lectures</p>
                </div>
              </div> 
            
              <div class="row d-flex justify-content-center mb-4">
                      {% for subname in levels.subnames.all %}
                      <div class="col-md-4 d-flex mb-5 justify-content-center">
                        <div class="card card-std text-center shade_b" style="width: 20rem;">
                          <div class="card-body text-center">
                            <h4 class="card-title text-font" style="color:black;">{{subname.name}}</h4>
                            <p class="card-text text-font" style="color:black;">{{subname.description|truncatechars:75}}</p>
                            <a href="{% url 'syllabus:lecture_list' slug=subname.slug level=levels.slug %}" class="btn btn-dark  text-font" style="color: white">Check Lectures</a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
              </div>
</section>

{%endblock%}