{% extends 'main_page.html'%}
{% load static %}
{% block title %} About {% endblock %}

{% block content%}
{% block image_block %}
<header >
  <div id="img-page" class="container-fluid d-flex align-items-center justify-content-center ">
    <div>
      <div>
        <h2 class="display-6 font-weight-bold  p-5" style="color:white;" > Welcome! </h2>

        <hr style="color:#ff5722;">
  </div>
</header>
{% endblock %}
<br>
    <div class="row d-flex justify-content-center mb-3">
       <p  class="font-weight-bold text-font" >This is maths web application</p>
    </div>


{% endblock%}