{% extends 'main_page.html'%}
{% load static %}
{% block title %} About {% endblock %}

{% block content%}
{% block image_block %}
<div id="img-page"  class="bg-cover text-white">
    <div class="container py-5 text-center">
        <h2 class="display-4 font-weight-bold " style="color:white; font-size: 20px">Welcome !</h2>
    </div>
</div>
{% endblock %}
<br>


    <div style="text-align:center">
      <h2 class="mb-5 mt-5 font-weight-bold text-font under_l text-shade-b">About Us</h2><br>
      <h4 class ="text-font">This is web application for self learning maths. It will build your knowledge, understanding and expertise in a range of mathematical methods. </h4>
    </div>
     <br>

<br>

<br>
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2 class="text-font under_l text-shade-b">SERVICES</h2>
  <h4 class="text-font under_l">What we offer?</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4 class="text-font text-shade-b">Free learning</h4>

       <div class="card">
        <img class="card-img-top" src='{% static "/css/img/s.jpg" %}' alt="Card image cap">
      </div>
      <p class="text-font" style="margin-top: 10px">Using our application will be free</p>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4 class="text-font text-shade-b">Support</h4>
       <div class="card">
        <img class="card-img-top" src='{% static "/css/img/t1.jpg" %}' alt="Card image cap">
      </div>
      <p class="text-font" style="margin-top: 10px">Our team will be available for help</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4 class="text-font text-shade-b">Useful materials</h4>
       <div class="card">
        <img class="card-img-top" src='{% static "/css/img/ts.jpg" %}' alt="Card image cap">
      </div>
      <p class="text-font" style="margin-top: 10px">Useful links for maths lessons</p>
    </div>
  </div>
  <br><br>

</div>

<!-- Container (Portfolio Section) -->

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endblock%}