

{% extends 'main_page.html'  %}
{% load static %}

{% block content %}


<div id="intro" class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-md-10 text-white">
                <!-- heading -->
                <h3 class="display-6 font-weight-bold white-text  p-5 mb-2" style="color:#000080;" > Take the Assessment </h3>

                <!-- divider -->
                <hr style="color:#000080;">

                <!-- description -->
                <h5 class=" my-4" style="color:#000080;">This is a 5 questions assessment will help us understand your level.</h5><br>
                <a href="{% url 'syllabus:assessment_view' %}"> <button type="button" class="btn" style="color:#000080;border-color:black;"> Start Now</button> </a>
                <!-- <a href="{% url 'syllabus:level_list' %}"> <button type="button" class="btn" style="color:#000080;border-color:black;"> Start Now</button> </a> -->
              </div>
            </div>
          </div>

{%endblock%}
